@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* icones contato via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.cor{ background: #f2d6f8;}

/* scrollbar legal*/

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background: #cb6ce6;
}

.cabecalho{
  width: 100%;
  height: 100px;
  background-color: #cb6ce6;
  padding-bottom: 100px;
  position: absolute;
  top: 0;
  z-index: 10;
  position: fixed;
}

/*.menu h1{
  display: flex; bloqueia linha
  float: right;
  padding-right: 2000px;
  }*/

.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-bottom: 150px;
}


.menu ul li{
background-color:#cb6ce6;
color: white;
float: left;
width: 200px; 
height: 40px; 
display: inline-block;
text-align: center;
justify-content: center;
line-height: 40px;
font-size: 25px;
position: relative;
}

.menu ul li:hover{
background-color:#8b6bf7;
}

.menu ul{
padding:0px;
align-items: center;
}
.menu ul ul{
display: none; 
}

.menu ul li:hover > ul 
{
display: block;
}

.menu ul ul ul{
margin-left: 201px;
top: 0px;
position: absolute; 
}


.menu ul ul li:hover{
background-color:#6f44ff;
}

.menu ul ul ul li:hover{
background-color:#4d27ca;
}

.menu a{     
  color:white; 
  text-decoration: none; 
}

.menu a{
color:white;
text-decoration: none; 
}
  .menu .ativa{     
    color:white; 
    text-decoration: none;
    border-bottom: 5px solid #dacfff;
  }
  


/* estilo novo carrossel */

/* ------------ GOOGLE FONTS ------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* ------------ VARIABLES ------------ */
:root{
  /* FONT */
  --font: 'Poppins', sans-serif;

  /* COLORS */
  --color: #dacfff;
  --color2: #8c52ff;
  --color3: #908ef4 ;
  --bg-color: #f4f4f4;
}

/* ------------ BASE ------------ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: var(--bg-color);
}

/* ----------- SLIDER ------------ */
.swiper{
  width: 100%;
}

.swiper-wrapper{
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
}

.card{
  width: 20em;
  height: 90%;
  background-color: #fff;
  border-radius: 2em;
  box-shadow: 0 0 2em rgba(0, 0, 0, .2);
  padding: 2em 1em;

  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 2em;
}

.swiper-slide:not(.swiper-slide-active){
  filter: blur(1px);
}

.card__image{
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 5px solid var(--color);
  padding: 3px;
  margin-bottom: 2em;
}

.card__image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card__content{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card__title{
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: .2em;
}

.card__name{
  color: var(--color2);
}

.card__text{
  text-align: center;
  font-size: 1.1rem;
  margin: 1em 0;
}

.card__btn{
  background-color: var(--color3);
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: .5em;
  border-radius: .5em;
  margin-top: .5em;
  cursor: pointer;
}

h2{
    padding-top: 100px;
    padding-left: 48%;
}

    .header{
        z-index: 0;
        overflow-y:visible;
    }

/* ----------- TIPOS DE CORREIO ------------ */

.TXTtipos{
  text-align: center;
  position: relative;
  width: 80%;
  margin: 50px auto;
  padding-top: 70%;
  font-size: 20px;
}

.TXTtipos::before{
  content: "";
  display: flex;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #8b6bf7;
  top: 98%;
  z-index: -1;
}

.TXTtipos span{
  background-color: #8b6bf7;
  padding: 0 0px;
}

.img-gallery{
  padding-top: 0%;
  width: 80%;
  margin: 50px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  gap: 30px; 
}
.img-gallery img{
  width: 100%;
  cursor: pointer;
  transition: 1s;
}

.img-gallery img:hover{
  transform: scale(1.2) ;
}

.ful-img{
  width: 100%;
  height: 100vh;
  background-color: #8c52ffda;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.ful-img span{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  cursor: pointer;
  z-index: 99;
  width: 100px;
  height: 100px;
}

.ful-img .span2{
  position: absolute;
  top: 20%;
  right: 4%;
  cursor: pointer;
  z-index: 99;
  width: 130px;
  height: 130px;
}

.ful-img img{
  width: 90%;
  max-width: 600px;
}

.lado .recado{
  float: right;
  padding-right: 200px;
  margin-right: 13.5px;
  display: grid;
  gap: 30px;
  max-width: 1000px;
}

.clear{
  clear: both;
}

.galeria{
  padding-bottom: 10%;
}

/* PÁGINA DE CONTATO */

.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: "vc.jpg";
  background-size: cover;
  margin-top: 80px;
}

.contact .content{
  max-width: 800px;
  text-align: center;
}

.contact .content .formsH2{
  font-size: 36px;
  font-weight: 500;
  color: #666;
}

.contactForm .formsH2{
  color: #cb6ce6;
}

.contact .content .formsP{
  font-weight: 300;
  color: #666;
}

.text{
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}
.container{
  width: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box{
  position: relative;
  padding: 60px 100px;
  display: flex;
}

.container .contactInfo .box .icon{
  min-width: 80px;
  height: 80px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #666;
  flex-direction: column;
  font-weight: 300;
}

.container .contactInfo .box .text h3{
  font-weight: 500;
  color: #cb6ce6;
}

.contactForm{
  width: 100%;
  padding: 40px;
  background: #ffffff;
  border-radius: 20px;
  border-width: 10px;
}

.contactForm h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
  color: #cb6ce6;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
  width: 100px;
  background: #cb6ce6;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
 border-radius: 10px;
}

.inputBox {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #666;
}

.inputBox .turmaSpanSelect{
  border: none;
  color: #666;
}

.bodyCTT{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Compra correio */

.inputBox2 {
  display: flex;  
  margin-top: 40px;
  margin-bottom: 40px;
  color: #666;
  margin-right: 60%;
}
.inputBox3 {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #666;
}
.espacinho{
  margin-right: 20%;
  display: flex;
  justify-content: space-between;
}

.contact .content .formsH3Compra{
  font-size: 36px;
  font-weight: 500;
  padding-top: 180px;
  color: #666;
}

.contact .content .formsPCompra{
  font-weight: 300;
  color: #666;
}

.turmaSpan{
  padding-right: 30px;
}

.turmaSpanSelect{
  border-width: 1px;
  border-radius: 10px;
}

.divsapn{
  padding-left: 10%;
  display: flex;
  justify-content: space-between;
}

.opcao{
  display: flex;
  padding-left: 50%;
}

.escrito{
  padding-left: 9px;
}

.contactForm .formsH3{
  color: #cb6ce6;
}

/* Mundo livre */

.fundinho{
  background-color: #333;
  width: 1366px;
}

.fundinho2{
  background-color:#908ef4;
  display: flex;
  float: none;
}

.titulo{
  margin-top: 90px;
  margin-bottom: 10px;
}

.crianca{
  height: 500px;
  width: 600px;
}

.paragrafo{
  margin-left: 5px;
}

/* Gallery */

.gallery {
  position: absolute;
  top: 45%;
  width: 101%;
  height: 80%;
  max-height: 28vw;
  overflow: hidden;
  transform: translateX(-13%);
}

.gallery:before,
.gallery:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  z-index: 3;
}

.gallery:before {
  left: 0;
  background:  linear-gradient(to right, #cb6ce6 0%, rgba(0,0,0,0) 100%);
}

.gallery:after {
  right: 0;
  background:  linear-gradient(to left, #cb6ce6  0%, rgba(0,0,0,0) 100%);
}

.gallery__stream {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}

.gallery__item {
  position: absolute;
  width: 50%;
  height: 100%;
  transition: 1s all ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
}

.gallery__item:nth-child(1) {
  left: 0;
  z-index: 1;
  transform: translateX(-100%) scale(.8);
}

.gallery__item:nth-child(2) {
  left: 0;
  z-index: 2;
  transform: translateX(-50%) scale(.8);
}

.gallery__item:nth-child(3) {
  left: 50%;
  z-index: 4;
  transform: translateX(-50%) scale(1);
}

.gallery__item:nth-child(4) {
  left: 100%;
  z-index: 2;
  transform: translateX(-50%) scale(.8);
}

.gallery__item:nth-child(n+5) {
  left: 100%;
  z-index: 1;
  transform: scale(.8);
}

/* Controllers */

.gallery__prev,
.gallery__next {
  position: absolute;
  top: 50%;
  z-index: 4;
  width: 50%;
  height: 100%;
  transform: translateX(-50%) translateY(-50%) scale(.8);
  cursor: pointer;
}

.gallery__prev {
  left: 0;
}

.gallery__next {
  left: 100%;
}

.formsH22{
  font-size: 36px;
  font-weight: 500;
  color: #666;
  top: 30%;
}

.formsPP{
  font-weight: 300;
  color: #666;
  top: 40%;
}

.divjao{
  background-color: #cb6ce6;
  margin-top: 20%;
  display: block;
  width: 136%;
  transform: translateX(-13%);
  padding-left: 15px;
  padding-bottom: 1px;
}

.jao{
  margin: 40px;
  padding-bottom: 10%;
  color: #f4f4f4;
  font-size: 20px;
}

.sobre{
  text-align: center;
  padding-left: 10px;
  padding-top: 30px;
  margin-top: 20%;
  color: #f4f4f4;
}

/*backgrounds*/

.bg-1 {
  background-image: url(https://iili.io/HybUaXs.md.jpg);
}

.bg-2 {
  background-image: url(https://iili.io/HybSGOF.md.jpg);
}

.bg-3 {
  background-image: url(https://iili.io/HybS1HP.md.jpg);
}

.bg-4 {
  background-image: url(https://iili.io/HybSER1.md.jpg);
}

.bg-5 {
  background-image: url(https://iili.io/HybUcLG.md.jpg);
}

.bg-6 {
  background-image: url(https://iili.io/HybUYIn.md.jpg);
}

.bg-7 {
  background-image: url(https://iili.io/HybU0Bf.md.jpg);
}

@media screen and (max-width: 768px) {
  .TXTtipos{
    text-decoration: unerline;
  }
  .TXTtipos::before{
    display: none;
  }
  .TXTtipos span{
    padding: 0;
  }

}
@media screen and (max-width: 768px) {
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
}
