:root {
    --primary-clr: #b38add;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  /* nice scroll bar */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--primary-clr);
    border-radius: 50px;
  }
  
  body {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    background-color: #e2e1dc;
  }

  .cor{
    background: #dacfff;
  }

  .cabecalho{
    width: 100%;
    height: 150px;
    background-color: #F8F8FF;
    padding-bottom: 100px;
    position: absolute;
    top: 0;
    z-index: 10;
    position: fixed;
    display: flexbox;
  }
  
  .logo{
    width: 170px;
    padding-left: 20px;
    margin-left: 30px;
    display: flexbox;
  }
  
  /*.menu h1{
    display: flex; bloqueia linha
    float: right;
    padding-right: 2000px;
    }*/
  
  .menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 150px;
    transform: translateY(-130%);
    text-decoration: none;
    display: flexbox;
  }
  
  
  .menu ul li{
  background-color:#F8F8FF;
  color: #8c52ff;
  float: left;
  width: 200px; 
  height: 40px; 
  display: inline-block;
  text-align: center;
  justify-content: center;
  line-height: 40px;
  font-size: 25px;
  display: flexbox;
  position: relative;
  text-decoration: none;
  }
  
  .menu ul li:hover{
  background-color:#FFFACD;
  text-decoration: none;
  
  }
  
  .menu ul{
  padding:0px;
  align-items: center;
  text-decoration: none;
  }
  .menu ul ul{
  display: none; 
  text-decoration: none;
  }
  
  .menu ul li:hover > ul 
  {
  display: block;
  text-decoration: none;
  }
  
  .menu ul ul ul{
  margin-left: 201px;
  top: 0px;
  position: absolute; 
  text-decoration: none;
  }
  
  .menu ul ul li:hover{
  background-color:#FFFACD;
  text-decoration: none;
  }
  
  .menu ul ul ul li:hover{
  background-color:#FFFACD;
  text-decoration: none;
  }
  
  .menu a{     
    color:#8c52ff; 
    text-decoration: none;
  }
  
    .menu .ativa{     
      color:#8c52ff; 
      text-decoration: none;
      border-bottom: 5px solid #f5eb94;
    }
    
.calendario{
  margin-top: 10%;
}